.product-img-info, .available-shops{
	background-color: #fff;
	box-shadow: 0 0 5px 0px #0000004d;
	margin-top: 30px;
	border-radius: 10px;
}

/*============================================
=            xZoom overridden css            =
============================================*/

.xzoom2, .xzoom3, .xzoom4, .xzoom5 {
     -webkit-box-shadow: unset; 
    -moz-box-shadow: unset;
     box-shadow: unset; 
    margin: 25% 0;
}

.xzoom-gallery5 {
    padding: 10px;
    border-radius: 5px;
}

 .xzoom-thumbs a:first-child .xzoom-gallery5{
	margin-left: unset;
}

.xzoom-thumbs{
	margin-top: 15px;
}

.xactive {
    -webkit-box-shadow: 0px 0px 3px 0px rgb(4, 16, 84);
    -moz-box-shadow: 0px 0px 3px 0px rgba(74,169,210,1);
    box-shadow: 0px 0px 3px 0px rgb(4, 16, 84);
    border: 1px solid #041054;
}
/*=====  End of xZoom overridden css  ======*/

/*========================================
=            product info & image css
========================================*/
.product-image{
	border-right: 1px solid #041053;
	overflow: hidden;
}

.product-info{
	padding: 15px 30px 15px 0;
}

.product-info-header h1{
	font-family: lato;
	font-size: 25px;
	color: #041054;
	font-weight: normal;
}

.product-info-header .fa-star, .product-info .fa-star{
	color: #ff9c00;
}

.product-info-header > ul{
	list-style-type: none;
	border-right: 1px solid;
	display: inline-block;
	padding: 5px 0;
}

.product-info-header > ul > li, .product-info > ul > li{
	display: inline;
	margin-left: 5px;
}

.product-info-header > ul > li:first-child, .product-info > ul > li:first-child{
	margin-left: unset;
}

.product-info-header > ul > li:last-child{
	margin-right: 10px;
}

.product-info-header > ul + a{
	margin-left: 10px;
}

.product-price{
	background-color: #041054;
	text-align: white;
	color: white;
	padding: 6px 12px;
	font-size: 20px;
	border-radius: 5px;
	margin-top: 10px;
}

.product-features{
	margin-top: 15px;
}

.product-features p{
	margin-bottom: 5px;
	font-size: 18px;
}

.product-features > ul > li{
	line-height: 25px;
	color: #041054;
	list-style: inside;
}

.product-features + a{
	display: inline-block;
	margin-top: 15px;
	margin-bottom: 5px;
	font-size: 18px;
	font-weight: 700;
	color:#041054;
}

.product-info-btn{
	margin-top: 15px;
}

.product-info-btn button{
	padding: 10px;
	width: 100%;
	font-size: 20px;
}

.product-info-btn button:last-child{
	margin-top: 15px;
}

/*=====  End of product info & image css  ======*/

/*===========================================
=            available shops css            =
===========================================*/

.available-shops{
	overflow: hidden;
}

.section-header{
	background-color: #eaeaea;
	text-align: center;
	color: #041054;
	padding: 7px;
}

.available-shops .container{
	height: 552px;
	max-height: 100%;
	overflow: auto;
}

.available-shops .container::-webkit-scrollbar {
  width: 5px;
}

.available-shops .container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.available-shops .container::-webkit-scrollbar-thumb {
  background: #041054;
  border-radius: 100px;
}

.available-shops .container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.section-header h2{
	font-family: 'Lato', sans-serif;
	font-size: 20px;
}

.shop-info{
	padding: 15px 0;
	border-bottom: 1px solid #041054;
}

.shop-info img{
	padding: 30% 0;
}

.shop-info h3, .shop-info h4{
	font-family: 'Lato', sans-serif;
	color: #041054;
}

.shop-info p{
	margin-top: 3px;
	font-size: 13px;
	margin-bottom: 5px;
}

.shop-info hr{
	margin-bottom: 5px;
}

.shop-info hr+h2{
	margin-top: 4px;
	font-family: 'Lato', sans-serif;
	color:#041054;
	display: inline-block;
	font-size: 20px;
}

.shop-info button{
	padding: 6px 12px;
	font-size: 14px;
	float: right;
}

.shop-info:last-child{
	border-bottom: unset;
}
/*=====  End of available shops css  ======*/

/*================================================
=            spec dest review tab css            =
================================================*/

.single-product-tab-btn{
	font-size: 16px;
	padding: 10px;
	width: 100%;
	background-color: transparent;
	border: none;
	color: #041054;
	transition: 0.2s all ease-in-out;
}

.single-product-tab-btn:hover{
	background-color: #041054;
	color: white;
	border-radius: 5px;
	cursor: pointer;
}
/*=====  End of spec dest review tab css  ======*/

/*=================================================
=            specification section css            =
=================================================*/

#Specifiation{
	scroll-margin-top: -500px;
}

.section-content{
	padding: 15px;
}

.section-content h3{
	font-weight: 700;
	font-family: "Lato", "sans-serif";
	color: #041054;
}

.section-content hr{
    background-color: #041054;
    border: none;
    height: 1px;
    margin-top: 5px;
}

.section-content table{
	width: 100%;
	color: #041054;
	margin-top: 5px;
}

.product-component-name{
	width: 20%;
	background-color: #e9e9e9;
	padding: 10px 0;
	text-align: right;
	padding-right: 10px;
	border-right: 1px solid #00000038;
	border-bottom: 1px solid #00000038;
}

.product-component-value{
	width: 80%;
	padding: 10px 0;
	padding-left: 10px;
	background-color: #f7f8fa;
	border-bottom: 1px solid #00000038;
}

.section-content tr:last-child .product-component-name, .section-content tr:last-child .product-component-value{
	border-bottom: unset;
}

/*=====  End of specification section css  ======*/

/*=======================================
=            description css            =
=======================================*/

#Description{
	color: #041054;
	scroll-margin-top: 100px;
}

#Description h2{
	font-family: "Lato","sans-serif";
}

#Description p{
	margin-top: 10px;
	text-align: justify;
	line-height: 24px;
}

/*=====  End of description css  ======*/

/*==================================
=            Reveiw css            =
==================================*/

#Reveiws{
	color: #041054;
	scroll-margin-top: 100px;
}

#Reveiws .section-content ul{
	list-style-type: none;
	display: inline-block;
	padding: 5px 0;
}

#Reveiws .section-content li{
	display: inline;
	color: #ff9c00;
}

#Reveiws .section-content ul+p{
	margin-top: 10px;
}

#Reveiws .section-content p+hr{
	margin: 15px 0;
}

.btn-number{
	font-weight: 700;
	margin: 0px 5px;
	padding: 7px 10px;
	border: none;
	background-color: #fff;
	box-shadow: 0 0 5px 0px #0000004d;
	border-radius: 5px;
	color: #041054;
	cursor: pointer;
	transition: 0.3s all ease-in-out;
}

.btn-active , .btn-number:hover{
	background-color: #041054;
	color: white;
}
.next-prev .btn-prime{
	padding: 5px 10px;
}

.showing-text-lgmdsm{
	display: none;
}
/*=====  End of Reveiw css  ======*/

/*=======================================
=            user review css            =
=======================================*/

.user-review-form input{
	width: 100%;
	background-color: #f1f1f1;
	padding: 10px;
	border: none;
	border-radius: 5px;
}

.user-review-form textarea{
	border: none;
	background-color: #f1f1f1;
	height: 150px;
	resize: none;
	width: 100%;
	margin-top: 15px;
	border-radius: 5px;
	padding: 10px;
	font-family: "Lato", "sans-serif";
}

.user-review-form textarea::-webkit-scrollbar {
  width: 10px;
}

.user-review-form textarea::-webkit-scrollbar-track {
  background: #dddddd;
  border-radius: 5px;
}

.user-review-form textarea::-webkit-scrollbar-thumb {
  background: #041054;
  border-radius: 10px;
}

.user-review-form textarea::-webkit-scrollbar-thumb:hover {
  background: #555;
  cursor: pointer;
}

/*----------  Dynamic Rating css  ----------*/

fieldset, label { margin: 0; padding: 0; }

.rating-input-btn{
	color: #041054;
	margin-top: 15px;
}

.rating-input-btn p{
	display: inline-block;
	float: left;
	line-height: 27px;
	font-size: 18px;
	margin-top: 1px;
}

.rating { 
  border: none;
  float: left;
  margin-left: 10px;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label { color: #ff9c00;  }

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label { color: #ff9c0080;  }

.rating-input-btn .btn-prime{
	float: right;
	font-size: 18px;
	padding: 6px 12px;
}

/*=====  End of user review css  ======*/

/*============================================
=            related products css            =
============================================*/

.related-products{
	padding: 30px;
	padding-bottom: 10px;
}

.related-products img,.related-products p{
	transition: 0.2s;
}

.related-products:hover img, .related-products:hover p{
	transform: scale(1.05);
	cursor: pointer;
	font-weight: bold;
}
.related-products p{
	margin-top: 15px;
	text-align: center;
	color: #041054;
}

.related-products p+p{
	font-weight: bold;
}

.related-product-hr{
    border: none;
    height: 1px;
    background-color: #041053;
    width: 100%;
}

.relatedproduct{
	overflow: hidden;
	border-bottom: 1px solid #041053;
}
.relatedproduct:last-child{
	border-bottom:unset;
}

/*=====  End of related products css  ======*/

/**
 *
 * Responsive Css
 *
 */

@media only screen and (max-width: 1200px){
	#magnific hr{
		margin-right: -90px !important;
		margin-left: -25% !important;
	}

	.shop-info img{
		padding: 0;
		display: block;
		margin: 0 auto;
	}
}

@media only screen and (max-width: 992px){
	#magnific hr{
		margin-right: -30px !important;
		margin-left: -5% !important;
	}

	.shop-info img{
		padding: 0;
		display: block;
		margin: 0 auto;
	}
	.relatedproduct{
		overflow: hidden;
		border-bottom: 1px solid #041053;
		border-right: 1px solid #041053;
	}
	.relatedproduct:nth-last-child(3),.relatedproduct:nth-last-child(2){
		border-bottom:unset;
	}
}

@media only screen and (max-width: 768px){
	.product-img-info > .row > .col-md-6{
		border-right: unset;
	}
	.product-info{
		padding: 15px 30px 15px;
	}
	.shop-info img{
		width: 144px;
	}
	.shop-info h3, .shop-info h4{
		margin-top: 15px;
	}
	.shop-info div+div h3, .shop-info div+div h3+p{
		text-align: center;
	}
	#magnific hr{
		margin-right: -105px !important;
		margin-left: -105px !important;
	}

	.shop-info img{
		padding: 0;
		display: block;
		margin: 0 auto;
	}
	.showing-text-lgmdsm{
 		display: unset;
 		text-align: center;
 	}
 	.next-prev{
 		text-align: center;
 		margin-top: 15px;
 	}
 	.showing-text-xl{
 		display: none;
 	}
 	.user-email{
 		margin-top: 15px;
 	}
 	.relatedproduct:nth-last-child(3){
 		border-bottom: 1px solid #041053;
 	}
}

@media only screen and (width: 768px){
	.product-placeholder button:nth-child(4){
		margin-left: unset;
	}
	.product-info{
		padding: 15px;
	}
	.product-image{
		border-right: 1px solid #041053 !important;
	}
	#magnific hr {
	    margin-right: -105px !important;
	    margin-left: -15px !important;
	}
	.shop-info div+div h3, .shop-info div+div h3+p{
		text-align: unset;
	}
	.showing-text-lgmdsm{
		display: none;
	}
	.next-prev{
		text-align: unset;
		margin-top: 0;
	}
	.showing-text-xl{
		display: block;
	}
	.user-email{
		margin-top: 0;
	}
	.relatedproduct:nth-last-child(3), .relatedproduct:nth-last-child(3){
		border-bottom: unset;
	}
}

@media only screen and (max-width: 576px){
	#magnific{
		overflow: hidden;
	}
	.relatedproduct:not(:last-child){
		border-bottom: 1px solid #041053;
	}
}