/*=================================
=            universal css        =
=================================*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


body{
	background-color: #f7f8fa;
	font-family: 'Lato', sans-serif;
}



*{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	color:unset;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Open Sans', sans-serif;
}

button:focus{
	outline:none;
}

img{
	min-width: unset;
}

button{
	font-family: 'Open Sans', sans-serif;
}

.btn-prime{
	background-color: #041054;
	color: white;
	border: none;
	border: 2px solid #041054;
	border-radius: 5px;
	transition: 0.2s all ease-in-out;
}

.btn-prime:hover{
	background-color: transparent;
	color: #041054;
	border: none;
	border: 2px solid #041054;
	border-radius: 5px;
	cursor: pointer;
}
/*=====  End of universal css  ======*/

/*==================================
=     header & navigation css      =
==================================*/

.header{
	background-color: #fff;
	padding-top: 15px;
	height: 75px;
	padding-left: 0;
	padding-right: 0;
}

.logo{
	width: 128px;
}

.search{
	padding: 15px;
	border: none;
	border-radius: 5px;
	background-color: #eeeeee;
	width: 100%;
	position: absolute;
	display: inline-block;
	box-sizing: border-box;
	right: -50px;
}

.search-button{
	position: absolute;
	right: -50px;
	border-radius: 5px;
	border: none;
	background-color: #041054;
	width: 45px;
	height: 45px;
	cursor: pointer;
	color: #ffffff;
}

.account-compare{
	display: inline-block;
	float: right;
}
.account-compare-icon{
	border: 2px solid #041054;
	display: inline-block;
	border-radius: 100px;
	width: 45px;
	height: 45px;
	position: relative;
	box-sizing: border-box;
}

.mobile-account-compare{
	display: none;
}

.header-icon{
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	color: #041054;
}

.account-compare-text{
	display: inline-block;
	vertical-align: super;
	margin-left: 10px;
}

.navigation{
	background-color: #fff;
	color: #041054;
	border-bottom: 2px solid #041054;
	box-shadow: 0 5px 5px #0000006b;
}


/*================================
=            dropdown            =
================================*/

.navbar {
  overflow: hidden;
  background-color: transparent;
}

.navbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
  padding: 5px 0;
  margin-left: 30px;
}

.dropdown .dropbtn {
	font-weight: 700;
	font-size: 16px;
	color: #041054;
	background-color: transparent;
	border: none;
}

.dropdown-content {
	margin-top: 5px;
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0 5px 5px -1px rgba(0,0,0,0.2);
	z-index: 1;
}


.dropdown-content a {
	color: #041054;
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}


.dropdown-content a:hover {
  background-color: #ddd;
}


.dropdown:hover .dropdown-content {
  display: block;
}

/*=====  End of dropdown  ======*/



/*======= end of header & navigation css  ======*/

/*======================================
=            sticky nav css            =
======================================*/

#myHeader{
	z-index: 2;
}
.content {
  padding: 16px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}
.sticky + .content {
  padding-top: 102px;
}

/*=====  End of sticky nav css  ======*/


/*=========================================
=            home carousel css            =
=========================================*/

.search-and-compare{
	position: absolute;
    z-index: 1;
    transform: translate(20%, -50%);
    top: 50%;
    color: white;
}

.search-and-compare input{
	padding: 10px;
	width: 280px;
	border-radius: 5px;
	border: none;
}

.search-and-compare input:last-child{
	background-color: #041054;
	color: white;
	font-weight: 700;
	cursor: pointer;
	border: 2px solid #041054;
	box-sizing: border-box;
	transition: 0.2s all ease-in-out;
}

.search-and-compare input:last-child:hover{
	background-color: transparent;
	color: #041054;
}

/*=====  End of home carousel css  ======*/


/*=====================================================
=            brand, category, shop tab css            =
=====================================================*/

.home-tab{
	margin-top: 60px;
}


.tab-header{
	background-color: #fff;
	box-shadow: 0 0 5px 0px #0000004d;
	border-radius: 5px;
}

.tab-btn{
	width: 100%;
	height: 44px;
	background-color: transparent;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 24px;
}

.tab-btn-active{
	background-color: #041054;
	color: white;
}

.tab-element{
	
}

.tab-element-placeholder{
	position: relative;
	background-color: #fff;
	height: 130px;
	box-shadow: 0 0 5px 0px #0000004d;
	border-radius: 5px;
	transition: 0.2s all ease-in-out;
	margin-top: 30px;
}

.tab-element-placeholder img{
	display: block;
	width: 192px;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
}

.tab-element-placeholder:hover{
	transform: scale(1.05);
}

#Categories img{
	width: unset;
	height: 64px;
	display: unset;
	position: unset;
	transform: unset;
	top: unset;
	left: unset;
	margin-bottom: 10px;
}

.tab-element-info{
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	text-align: center;
	color: #041054;
}

#Shops img{
	width: 164px;
}

/*=====  End of brand, category, shop tab css  ======*/

/*======================================
=            trendy now & latest laptop css            =
======================================*/

.product-section-header{
	border-bottom: 1px solid #041054;
	margin-top: 60px;
	color:#041054;
}

.product-section-header button{
	margin-top: -10px;
	padding: 10px 30px;
	font-size: 16px;
	float: right;
}

.product-placeholder{
	width: 100%;
	background-color: #fff;
	padding: 15px;
	box-shadow: 0 0 5px 0px #0000004d;
	margin-top: 30px;
	border-radius: 5px;
	transition: 0.2s all ease-in-out;
}

.product-placeholder:hover{
	transform: scale(1.05);
}

.product-placeholder p{
	text-align: center;
	color: #041054;
}

.product-placeholder button:nth-child(4){
	padding: 10px 20px;
    margin-top: 10px;
    margin-right: 10px;
}

.product-placeholder button:last-child{
	width: 42px;
	height: 42px;
}

.product-placeholder p:nth-child(3){
    margin: 10px 0;
    font-weight: 700;
}

.product-placeholder img{
	max-width: 144px;
	display: block;
	margin: 0 auto;
}

.from-price{
	background-color: #9a9a9a;
	color: white;
	border-radius: 2.5px;
	padding: 5px;
	font-size: 13px;
	margin-right: 5px;
	vertical-align: 1px;
}
/*=====  End of trendy now css  ======*/

/*==================================
=            fotter css            =
==================================*/

.footer-top{
	background-color: #1C1C1C;
	margin-top: 60px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.footer-top h2{
	color: white;
	text-align: center;
	margin-bottom: 10px;
}

.newsletter{
	position: relative;
}

.newsletter input:first-child{
	width: 100%;
	padding: 15px;
	border-radius: 5px;
	border: none;
	display: block;
	margin: 0 auto;
	position: absolute;
	transform: translateX(-50%);
	left: 50%;
}

.newsletter button{
	position: absolute;
	width: 40px;
	height: 40px;
	right: 3px;
	top: 2.5px;
}

.footer-top hr{
	margin-top: 75px;
	border-color: gray;
}

.menu-links{
	margin-top: 15px;
}

.footer-top ul, .footer-bottom ul{
	list-style-type: none;
	text-align: center;
}

.footer-top li, .footer-bottom li{
	display: inline-block;
	margin: 15px 30px 0 30px;
	color: white;
}


.social-links{
	margin-top: 30px;
	text-align: center;
}



.social-links .icon{
	background-color: #041054;
	color: white;
	width: 45px;
	height: 45px;
	border-radius: 90px;
	position: relative;
	display: inline-block;
	margin: 0 15px;
	transition: 0.2s all ease-in-out;
}

.social-links .icon:hover{
	background-color: transparent;
	color: #041054;
	border: 2px solid #041054;
	box-sizing: border-box;
}

.social-links i{
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
}

.copyright{
	text-align: center;
	margin: 15px 0;
}
/*=====  End of fotter css  ======*/

/*==================================
=            responsive            =
==================================*/

@media only screen and (max-width: 1360px) {
  .search{
  	right: -20px;
  }

  .search-button{
  	right: -20px;
  }
}

@media only screen and (max-width: 1200px) {
  .product-placeholder button:nth-child(4){
  	    padding: 10px 30px;
  }
}


@media only screen and (max-width: 992px) {
	.logo{
		width: 100%;
		margin-top: 8px;
	}

	.search, .search-button{
		right: -10px;
	}
	.carousel-inner > .item > img{
		max-width: unset;
	}
	.search-and-compare {
	    transform: translate(-50%, -50%);
	    top: 50%;
	    left: 50%;
	    text-align: center;
	}
	.carousel-indicators{
		display: none;
	}
	.search-and-compare input{
		text-align: center;
	}
}


@media only screen and (max-width: 768px){
	.product-placeholder button:nth-child(4){
		margin-left: 18px;
	}

	.mobile-account-compare{
		display: block;
	}

	.lgmd-account-compare{
		display: none;
	}

	.account-compare-text{
		display: none;
	}

	.logo{
		width: 60%;
		margin-top:unset;
	}

	.navbar{
		display: none;
	}

	.navigation{
		padding: 35px 0;
	}

	.search, .search-button{
		top: 25px;
	}

	.sticky {
	  position: unset;
	  top: unset;
	  width: unset;
	}

	.search{
		left: 15px;
		width: 94%;
	}

	.search-button{
		right: 15px;
	}
}

@media only screen and (width: 768px){
	.mobile-account-compare{
		display: none;
	}

	.lgmd-account-compare{
		display: block;
	}

	.account-compare-text{
		display: inline-block;
	}

	.search, .search-button{
		top:0;
	}

	.search-button{
		right: 0;
	}

	.logo{
		width: 100%;
		margin-top: 5px;
	}
	.navigation{
		padding: 0;
	}
	.navbar{
		display: block;
	}
}

@media only screen and (max-width: 500px){
	.tab-element-placeholder img{
		width: 70%;
	}
	.product-placeholder button:nth-child(4){
		margin-left: unset;
	}
}

@media only screen and (max-width: 414px){
	.product-placeholder button:nth-child(4){
		margin-left: 25%;
	}
}
/*=====  End of responsive  ======*/

